.helicopter {
    width: 640px;
    height: 400px;
    background-color: #48788a;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.helicopter__title {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 24px;
    font-family: sans-serif;
    color: white;
}

.helic-img {
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.helicopter:hover .helic-img {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.helicopter::before,
.helicopter::after {
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.helicopter::after {
    background-image: url(../img/iphone-front.png);
    right: 21%;
    transform: translateY(200%) rotate(20deg);
    -webkit-transform: translateY(200%) rotate(20deg);
    -moz-transform: translateY(200%) rotate(20deg);
    -ms-transform: translateY(200%) rotate(20deg);
    -o-transform: translateY(200%) rotate(20deg);
}

.helicopter::before {
    background-image: url(../img/iphone-back.png);
    left: 21%;
    transform: translateY(200%) rotate(-20deg);
    -webkit-transform: translateY(200%) rotate(-20deg);
    -moz-transform: translateY(200%) rotate(-20deg);
    -ms-transform: translateY(200%) rotate(-20deg);
    -o-transform: translateY(200%) rotate(-20deg);
}

.helicopter:hover::before,
.helicopter:hover::after {
    transform: translateY(0) rotate(0deg);
    -webkit-transform: translateY(0) rotate(0deg);
    -moz-transform: translateY(0) rotate(0deg);
    -ms-transform: translateY(0) rotate(0deg);
    -o-transform: translateY(0) rotate(0deg);
}